$color-purple: #d1b6e1;
$color-purple-trans: #d1b6e17a;
$color-green: #9dc8c8;
$color-black: #2e294e;
$color-pink-trans: #fff7f7;
$color-dark-pink: rgb(255 182 185);
$color-grass-green: rgb(187, 222, 214);
$color-blue-green: rgb(138, 198, 209);